.app {
    overflow: hidden;
}

.body {
    overflow-y: auto;
}

.body {
    padding-top: 75px;
}

/* custom scroll bar */
*::-webkit-scrollbar {
    width : 6px !important;
    height: 6px !important;
}

*::-webkit-scrollbar-track {
    background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
    border-radius   : 10px !important;
    background-color: #D6D6D6 !important;
}